{% extends "shop/base_template.html" %}
{% load static %}
{% block content %}
<div class="shopCard">
	<h1>Cart</h1>
	<div class="shopCard__items">
	{% for item in products %}
		<div class="cart_item">
			<img src="{% static 'shop/img/' %}{{ item.product.product.img }}" width="10%" height="10%">
			<div class="cartItem__detail">
				<div class="cartItem__productDescription">
					<a class="cartItem__name" href="/detail/{{ item.product.product.id }}/">{{ item.product.product.name }}</a>
					<p class="">Price: <span>${{ item.product.product.price }}</span></p>
				</div>
				<div class="cartItem__productsPrice">
					<form action="/remove_from_cart/{{ item.product.product.id }}/" method='POST'>
						{% csrf_token %}
						<button class="btn btn-outline-danger" type='submit'>Remove</button>
					</form>
					<p>Count: <span>{{ item.product.count }}</span></p>
					<h5>${{ item.price_for_all }}</h5>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	{% if products %}
	<div class="cardSumma__container">
		<div class="card__summa">
			<p>Summa:  <span>${{ summa }}</span></p>
			<form action="/order/" method='POST'>
				{% csrf_token %}
				<button class="btn btn-success" type='submit'>Order</button>
			</form>
		</div>
	</div>
	{% else %}
	<h1>You cart is empty!</h1>
	{% endif %}
	{% endblock content %}
</div>
