{% extends "shop/base_template.html" %}

{% block content %}
<div>
    <h3>Category:</h3>
    <h4>{{ category }}</h4>
    <h1>{{ product.name }}</h1>
    <img class="card-img-top" src="/static/shop/img/{{ product.img }}" alt="Product photo">
    <div class="product__card__title">
    <p class="productCard__description">{{product.description}}</p>
    <div>
        <p>Available</p>
        <p>{{ product.available_count }}</p>
    </div>
    <div class="product__card__add">
        <p>${{product.price}}</p>
        <form action="/add_to_cart/{{product.id}}/" method='POST'>
            {% csrf_token %}
            <button class="btn btn-primary" type='submit'>Add to card</button>
        </form>
    </div>
</div>

{% endblock content %}