{% extends "shop/base_template.html" %}

{% block content %}
<div>
  <div class="product__container">
    {% for item in goods %}
      <div class="product__card">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{item.img}} alt="Product photo">
          <div class="product__card__title">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <form action="/detail/{{item.id}}" method='GET'>
              <button class="btn btn-outline-secondary btn-sm" type='submit'>Show details</button>
            </form>
            <div class="product__card__add">
             <p>${{item.price}}</p>
              <form action="/add_to_cart/{{item.id}}" method='GET'>
                <button class="btn btn-primary" type='submit'>Add to card</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}  
  </div>
</div>

{% endblock content %}